# Dependencies
node_modules/
**/node_modules/

# Build & Release outputs
dist/
**/dist/
release/
**/release/
build/
**/build/
dist_app/
**/dist_app/

# Temp & Cache
.env
*.log
*.tmp
.DS_Store
d:/electron-builder-cache
d:/electron-cache

# Local IDE & OS
!.vscode/settings.json
!**/.vscode/settings.json
.vscode/
.idea/
Thumbs.db
